body html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    background-repeat: no-repeat;

  }
  .container {
    height: 100%;
  }  
  
  .flex-container {
    display: flex;
    min-height: 100vh;
    margin: 0%;
    background: linear-gradient(to right, #789461, #294B29);
    background-repeat: no-repeat;
  }
  
  .the-left {
    position: relative;
    width: 50%;
    height: auto;
  }
  
 .background-flowers {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  
  .odin-logo {
    position: absolute;
    top: 55px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 85px;
    height: 85px;
  }
  
  .odin-name p {
    position: absolute;
    top: 55px;
    left: 105px;
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    height: 45px;
    width: 180px;
    text-align: center;
    padding: 20px;
    margin: 0;
  }
  
  .the-right {
    width: 50%;
    position: relative;
    justify-content: center;
    margin: 3%;
    background-repeat: no-repeat;
  }
  .the-right p {
    color: #ccc

  }
label  {
    display: block;
    padding-top: 20px;
    letter-spacing: 2;
    font-weight: bolder;
    font-size: 1rem;
    color: #ccc
}
.the-right p {
    font-weight: bold;
    font-style: italic;
    width: 72%;
}
.button {
    background-color: rgb(90, 35, 15);
    margin-top: 2%;
    border-radius: 0.5em;
    width:  150px;
    padding: 10px;
    border: none;
    color: white;
    height: 40px;
    cursor: pointer;
 }
 .button:hover {
    background-color: #6ac519;
    opacity: 0.9;
 }
 input, textarea {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    padding: 7px;
    margin-top: 1%;
 }
 input:focus {
    border-color: brown;
    outline: none; 
}

 form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid rgb(90, 35, 15);
    border-radius: 1em;
  }
  fieldset {
    border: none;
  }